<div class="w-7/12 bg-white shadow-lg p-16 m-auto">
  <h2 class="text-4xl font-light mb-2">Projects</h2>
  <hr class="mb-5" />

  <div class="w-full shadow-md rounded-xl p-7 mt-2" *ngFor="let project of projects">
    <h5 class="text-md font-light">{{ project.header }}</h5>
    <h3 class="text-2xl font-normal">{{ project.name }}</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          <span *ngFor="let line of project.description">
            <span [innerHTML]="line"></span>
            <br />
          </span>
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-auto grid-cols-1 text-blue-800" style="margin: auto;">
          <div class="grid-row hover:underline" *ngFor="let link of project.links">
            <a href="{{ link.address }}" target="_blank">
              <span *ngIf="link.icon === 'fab fa-github'; else otherIcons1"><fa-icon [icon]="faGitHub"></fa-icon></span>
              <ng-template #otherIcons1>
                <span *ngIf="link.icon === 'fas fa-sitemap'; else otherIcons2"><fa-icon [icon]="faSitemap"></fa-icon></span>
              </ng-template>
              <ng-template #otherIcons2>
                <span *ngIf="link.icon === 'fab fa-git-alt'"><fa-icon [icon]="faGit"></fa-icon></span>
              </ng-template>


              <i class="{{ link.icon }}"></i>
              {{ link.name }}
            </a>
          </div>
          <div class="grid-row" *ngIf="project.warning.length > 0">
            <p class="text-yellow-500">
              <i class="fas fa-exclamation-triangle"></i>
              {{ project.warning }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="place-items-end w-full mt-6 -mb-4">
    <a class="text-blue-700 hover:underline text-lg" [routerLink]="['/home']">Back</a>
  </div>
</div>
