<div class="rounded-3xl w-5/12 bg-white shadow-lg center-absolute p-16 my-64">
  <h2 class="text-4xl font-light mb-2">Products</h2>
  <hr class="mb-5" />

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A StaplerIO Production</h5>
    <h3 class="text-2xl font-normal">The Carbon Programming Language</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          The programming language powers all parts of the <span class="italic">Project Parallel</span>. <br />
          Applications written in Carbon must run on the <span class="italic">Carbon Runtime</span>, it cannot be run directly on bare metal.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-2 grid-cols-1 text-blue-800 mt-2" style="margin: auto;">
          <div class="grid-row hover:underline mb-3">
            <a href="https://dev.azure.com/StaplerIO/The%20Carbon%20Programming%20Language" target="_blank">
              <i class="fab fa-git-alt"></i>
              Azure DevOps
            </a>
          </div>
          <div class="grid-row hover:underline">
            <a href="http://hserver.ranzeplay.me:25550/StaplerIO/carbon-lang" target="_blank">
              <i class="fas fa-sitemap"></i>
              Mirror
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A Production of Myself</h5>
    <h3 class="text-2xl font-normal">Semicolon.OnlineJudge</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          A website like Luogu and CodeForce. <br />
          Users submit the solution of a problem, and the server tests the solution and let the user know. <br />
          The web application is written in <code>C#</code>, running on <code>.NET</code> platform.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-2 grid-cols-1 text-blue-800 mt-2" style="margin: auto;">
          <div class="grid-row hover:underline mb-3">
            <a href="https://github.com/Ranzeplay/Semicolon.OnlineJudge" target="_blank">
              <i class="fab fa-github"></i>
              GitHub Repo
            </a>
          </div>
          <div class="grid-row hover:underline">
            <a href="http://hserver.ranzeplay.me:25550/ranzeplay/Semicolon.OnlineJudge" target="_blank">
              <i class="fas fa-sitemap"></i>
              Mirror
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A StaplerIO Production</h5>
    <h3 class="text-2xl font-normal">Grades.Offline.WPF</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          An offline application, the only function is to let teachers to manage students' test result. <br />
          Multi-language support (English and Chinese) <br />
          The application also provides the comparison table among each exam. <br />
          It is a winter vacation project. Only develops in 2020's winter vacation.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-3 grid-cols-1 text-blue-800 mt-2" style="margin: auto;">
          <div class="grid-row hover:underline">
            <a href="https://github.com/StaplerIO/Grades.Offline.WPF" target="_blank">
              <i class="fab fa-github"></i>
              GitHub Repo
            </a>
          </div>
          <div class="grid-row hover:underline">
            <a href="http://hserver.ranzeplay.me:25550/StaplerIO/Grades.Offline.WPF" target="_blank">
              <i class="fas fa-sitemap"></i>
              Mirror
            </a>
          </div>
          <div class="grid-row -mt-6">
            <p class="text-yellow-500">
              <i class="fas fa-exclamation-triangle"></i>
              The development of this project has paused since 2021.2.27
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A Production of Myself</h5>
    <h3 class="text-2xl font-normal">MCGit</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          A Minecraft Spigot Server plugin. <br />
          I wanted to make it like Git in the beginning, but I gave up. <br />
          It is just a backup plugin currently. <br />
          The plugin is written in <code>Java</code>.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-2 grid-cols-1 text-blue-800" style="margin: auto;">
          <div class="grid-row hover:underline">
            <a href="https://github.com/Ranzeplay/MCGit" target="_blank">
              <i class="fab fa-github"></i>
              GitHub Repo
            </a>
          </div>
          <div class="grid-row -mt-5">
            <p class="text-yellow-500">
              <i class="fas fa-exclamation-triangle"></i>
              Project has stopped updating since 2021.8.13
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A Production of Myself</h5>
    <h3 class="text-2xl font-normal">RemoteDirectoryList</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          A website which allows you to view files and subdirectories in selected directory of remote computer. <br />
          The web application is written in <code>C#</code>, running on <code>.NET</code> platform.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-3 grid-cols-1 text-blue-800" style="margin: auto;">
          <div class="grid-row hover:underline">
            <a href="https://github.com/Ranzeplay/RemoteDirectoryList" target="_blank">
              <i class="fab fa-github"></i>
              GitHub Repo
            </a>
          </div>
          <div class="grid-row hover:underline -mt-4">
            <a href="http://hserver.ranzeplay.me:25550/ranzeplay/RemoteDirectoryList" target="_blank">
              <i class="fas fa-sitemap"></i>
              Mirror
            </a>
          </div>
          <div class="grid-row -mt-6">
            <p class="text-yellow-500">
              <i class="fas fa-exclamation-triangle"></i>
              The development of this project has paused since 2020.9.19
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full shadow-md rounded-xl p-7">
    <h5 class="text-md font-light">A Production of Myself</h5>
    <h3 class="text-2xl font-normal">OAHub</h3>
    <div class="grid grid-rows-1 grid-cols-5 mt-2">
      <div class="col-span-4">
        <p>
          An office automation system (OA) for small teams. <br />
          Also the first big project I've ever developed. You can call it as an experimental project.
          The web application is written in <code>C#</code>, running on <code>.NET</code> platform.
        </p>
      </div>
      <div class="col-span-1">
        <div class="w-full grid grid-rows-3 grid-cols-1 text-blue-800" style="margin: auto;">
          <div class="grid-row hover:underline">
            <a href="https://github.com/Ranzeplay/OAHub" target="_blank">
              <i class="fab fa-github"></i>
              GitHub Repo
            </a>
          </div>
          <div class="grid-row hover:underline -mt-5">
            <a href="http://hserver.ranzeplay.me:25550/ranzeplay/OAHub" target="_blank">
              <i class="fas fa-sitemap"></i>
              Mirror
            </a>
          </div>
          <div class="grid-row -mt-6">
            <p class="text-yellow-500">
              <i class="fas fa-exclamation-triangle"></i>
              The development of this project has paused since 2020.9.19
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="place-items-end w-full mt-6 -mb-4">
    <a class="text-blue-700 hover:underline text-lg" [routerLink]="['/home']">Back</a>
  </div>
</div>
